*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body{
    height: 200vh;
}

header{
    padding: 15px 0; 
    background-color: rgb(32, 2, 2);
} 
.container{
    width: 90%;
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo h1 {
    display: inline;
    color: #8d0909;

  }


  .nav ul {
    list-style: none;
    display: flex;
    gap: 25px;
  }
  
  .nav a {
    color: #aaaaaa;
    text-decoration: none;
    font-weight: 500;
    transition: 0.3s;
  }

  .nav a:hover {
    color: #fff;
  }


  
.main{
  position: static;
    margin: 0px;
    padding: 0px;
    border: 0px;
    background-image: url("https://pbs.twimg.com/media/FlkW1vaX0AAIEkL.png");
    background-size: cover;      
    background-position: center; 
    background-repeat: no-repeat; 
    height: 100vh; 
    text-align: center;
  }
  
  .texto-main{
    
   
    padding-top: 150px;
    padding-bottom: 50px;
    color: #fff;
    b{
      color: red;
    }
  }
   
  input{
    width: 600px;
    
    
  }

  h1{
    margin: 0px;
    padding: 0px;
    border: 0px;
  }
  h3{
    margin: 0px;
    padding: 0px;
    border: 0px;
  }

.footer{
    background-color: black;
    color: brown;
}

@media (max-width: 768px) {
    .nav ul {
      display: none;
    }
  
  
  }