*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

header{
    padding: 15px 0; 
    background-color: rgb(32, 2, 2);
} 


.logo h1 {
    display: inline;
    color: #8d0909;

  }